/**
 * Tailwind
 */

@tailwind base;

@tailwind components;

@tailwind utilities;

$color_1: #fff;
$color_2: #aaa;

.whippet-admin {
	h2 {
		font-size: 24px;
		line-height: normal;
		margin: 25px 0 0;
	}
	p.whippet-subheading {
		font-size: 12px;
		line-height: normal;
		font-style: italic;
		margin: 5px 0 0;
		padding-bottom: 10px;
		border-bottom: 1px solid #ddd;
	}
	select {
		min-width: 300px;
	}
	textarea {
		min-width: 300px;
		resize: both;
		min-height: 150px;
	}
	.form-table {
		th {
			label {
				vertical-align: top;
			}
		}
	}
	p.submit {
		margin: 0;
		padding: 0;
		float: left;
		.button {
			margin: 10px 10px 0 0;
		}
	}
	#whippet-restore {
		.button {
			margin: 10px 10px 0 0;
		}
	}
	#whippet-legend {
		float: right;
		padding-top: 20px;
		font-size: 12px;
		line-height: 15px;
		font-style: italic;
		color: $color_2;
	}
}
